/*noinspection CssInvalidAtRule*/
@import-normalize;

@import "colors";


body {
    line-height: 1.6;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #b9bbbe;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

    font-smooth: always;
    background-color: #36393f;
}

.navActive {
    color: rgb(147, 107, 251) !important;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    fill: currentColor;
}

::after, ::before {
    text-decoration: inherit;
    vertical-align: inherit;
}

*, ::after, ::before {
    background-repeat: no-repeat;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
button, input, select {
    margin: 0;
}

button {
    text-transform: none;
}

::selection {
    background-color: #dcddde;
    color: #b9bbbe;
    text-shadow: none;
}

::after, ::before {
    text-decoration: inherit;
    vertical-align: inherit;
}

article, aside, footer, header, nav, section {
    display: block;
}

[tabindex], a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}
